<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="FacebookNativeLogin.Droid" android:theme="@style/MyTheme">
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
	</application>
</manifest>
