<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.causerexception.loginsample">
	<uses-sdk android:minSdkVersion="23" />
	<application android:label="GoogleNativeLogin.Droid" android:theme="@style/MyTheme"></application>
</manifest>